adf-ig-dev-westeurope/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ig-dev-westeurope"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_BINARY_NETSUITE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DV",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_environment": {
							"value": "dev",
							"type": "Expression"
						}
					}
				},
				"folder": {
					"name": "Sources/STARLINK/NETSUITE"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "netsuite"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BINARY_VUZION_BUDGET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DV",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/VUZION/BUDGET"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "vuzion/budget/pending",
						"fileSystem": "external"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_NETSUITE_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DV",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_environment": {
							"value": "dev",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/STARLINK/NETSUITE"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().pm_FileName}.csv",
							"type": "Expression"
						},
						"fileSystem": "netsuite"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_EXCEL_CLOUD_DISTRIBUTION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DV",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/CLOUD_DISTRIBUTION"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cloud_distribution/pending",
						"fileSystem": "external"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_EXCEL_D2B_CUSTOMERS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DV",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_environment": {
							"value": "@dataset().pm_environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/D2B"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "d2b/customers/pending",
							"type": "Expression"
						},
						"fileSystem": "external"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_EXCEL_D2B_SALES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DV",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_environment": {
							"value": "@dataset().pm_environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/D2B"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "d2b/sales/pending",
							"type": "Expression"
						},
						"fileSystem": "external"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PSSQL_CLOUDBLUE_OSS_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PGSQL_CLOUDBLUE_OSS",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_TableSchema": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/CLOUDBLUE/OSS"
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pm_TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pm_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PSSQL_CLOUDBLUE_PBA_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PGSQL_CLOUDBLUE_PBA",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_TableSchema": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/CLOUDBLUE/PBA"
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pm_TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pm_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_CRM_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_CRM_DYNAMIC",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						},
						"pm_DatabaseName": {
							"value": "@dataset().pm_DatabaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_SchemaName": {
						"type": "string"
					},
					"pm_DatabaseName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/IGSQL01 [CRM]"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pm_SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pm_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_METADATA_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_METADATA",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_SchemaName": {
						"type": "string"
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_Environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "METADATA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pm_SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pm_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_NAV_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_NAV_DYNAMIC",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_DatabaseName": {
							"value": "@dataset().pm_DatabaseName",
							"type": "Expression"
						},
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_SchemaName": {
						"type": "string"
					},
					"pm_DatabaseName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/IGSQL03 [Navision]"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pm_SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pm_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_NUVIAS_FO_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_NUVIAS_FO",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						},
						"pm_DatabaseType": {
							"value": "@dataset().pm_DatabaseType",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_DatabaseType": {
						"type": "string"
					},
					"pm_SchemaName": {
						"type": "string"
					},
					"pm_TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/NUVIAS/FO"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pm_SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pm_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_NUVIAS_FO_DYNAMIC_SCRIPT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_NUVIAS_FO",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						},
						"pm_DatabaseType": {
							"value": "@dataset().pm_DatabaseType",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_DatabaseType": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/NUVIAS/FO"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_TAGETIK_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_TAGETIK",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_SchemaName": {
						"type": "string"
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_Environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/TAG02 [Tagetik]"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pm_SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pm_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_VUZION_CRM_DYNAMICS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_VUZION_CRM_DYNAMICS",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Service_Uri": {
							"value": "@dataset().pm_Service_Uri",
							"type": "Expression"
						},
						"pm_Service_Principal_Id": {
							"value": "@dataset().pm_Service_Principal_Id",
							"type": "Expression"
						},
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_TableName": {
						"type": "string"
					},
					"pm_Service_Uri": {
						"type": "string"
					},
					"pm_Service_Principal_Id": {
						"type": "string"
					},
					"pm_Environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/VUZION [CRM]"
				},
				"annotations": [],
				"type": "DynamicsCrmEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().pm_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_VUZION_CRM_DYNAMICS_SCRIPT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_VUZION_CRM_DYNAMICS",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Service_Uri": {
							"value": "@dataset().pm_Service_Uri",
							"type": "Expression"
						},
						"pm_Service_Principal_Id": {
							"value": "@dataset().pm_Service_Principal_Id",
							"type": "Expression"
						},
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_TableName": {
						"type": "string"
					},
					"pm_Service_Uri": {
						"type": "string"
					},
					"pm_Service_Principal_Id": {
						"type": "string"
					},
					"pm_Environment": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sources/VUZION [CRM]"
				},
				"annotations": [],
				"type": "DynamicsCrmEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "vz1_coreproducts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_NUVIAS_FO_CDM_TO_BRONZE_DELTALOAD')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "NUVIAS/Dynamics"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "LS_ADLS_NUVIAS_DYNAMICS",
								"type": "LinkedServiceReference"
							},
							"name": "GetCDMEnity"
						},
						{
							"linkedService": {
								"referenceName": "LS_ADLS",
								"type": "LinkedServiceReference"
							},
							"name": "GetBronzeData"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "LS_ADLS",
								"type": "LinkedServiceReference"
							},
							"name": "WriteDeltaTable"
						}
					],
					"transformations": [
						{
							"name": "AddBronzeLoadDate"
						},
						{
							"name": "GetMaxWatermark"
						},
						{
							"name": "Increment"
						},
						{
							"name": "AddCurrentWatermark"
						},
						{
							"name": "DropCurrentWatermark"
						}
					],
					"scriptLines": [
						"parameters{",
						"     pm_Entity as string,",
						"     pm_ManifestPath as string,",
						"     pm_ManifestFile as string,",
						"     pm_FullLoad as boolean (false())",
						"}",
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: true,",
						"     entity: ($pm_Entity),",
						"     format: 'cdm',",
						"     manifestType: 'manifest',",
						"     manifestName: ($pm_ManifestFile),",
						"     entityPath: ($pm_ManifestPath),",
						"     local: true,",
						"     folderPath: 'nuvias.operations.dynamics.com',",
						"     fileSystem: 'dynamics365-financeandoperations',",
						"     timestampFormats: ['yyyy-MM-dd\\'T\\'HH:mm:ss.SSSSSSS\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss','MM-dd-yyyy hh:mm:ss a','MM-dd-yyyy HH:mm:ss'],",
						"     mode: 'read') ~> GetCDMEnity",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: true,",
						"     format: 'delta',",
						"     compressionType: 'snappy',",
						"     compressionLevel: 'Fastest',",
						"     fileSystem: 'bronze',",
						"     folderPath: ('nuvias.operations.dynamics.com/'+ $pm_Entity)) ~> GetBronzeData",
						"DropCurrentWatermark derive(Sys_Bronze_InsertDateTime_UTC = currentUTC()) ~> AddBronzeLoadDate",
						"GetBronzeData aggregate(CurrentWatermark = max(toTimestamp(byName('DataLakeModified_DateTime')))) ~> GetMaxWatermark",
						"AddCurrentWatermark filter(iif(isNull(CurrentWatermark),true(),toTimestamp(byName('DataLakeModified_DateTime')) > CurrentWatermark)) ~> Increment",
						"GetCDMEnity, GetMaxWatermark join(true(),",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'right')~> AddCurrentWatermark",
						"Increment select(mapColumn(",
						"          each(match(name!='CurrentWatermark'))",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropCurrentWatermark",
						"AddBronzeLoadDate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delta',",
						"     compressionType: 'snappy',",
						"     compressionLevel: 'Fastest',",
						"     fileSystem: 'bronze',",
						"     folderPath: ('nuvias.operations.dynamics.com/'+ $pm_Entity),",
						"     mergeSchema: true,",
						"     autoCompact: true,",
						"     optimizedWrite: true,",
						"     vacuum: 0,",
						"     deletable: false,",
						"     insertable: true,",
						"     updateable: false,",
						"     upsertable: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> WriteDeltaTable"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_NUVIAS_FO_CDM_TO_BRONZE_FULLLOAD')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "NUVIAS/Dynamics"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "LS_ADLS_NUVIAS_DYNAMICS",
								"type": "LinkedServiceReference"
							},
							"name": "GetCDMEnity"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "LS_ADLS",
								"type": "LinkedServiceReference"
							},
							"name": "WriteDeltaTable"
						}
					],
					"transformations": [
						{
							"name": "AddBronzeLoadDate"
						}
					],
					"scriptLines": [
						"parameters{",
						"     pm_Entity as string,",
						"     pm_ManifestPath as string,",
						"     pm_ManifestFile as string,",
						"     pm_FullLoad as boolean (false())",
						"}",
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: true,",
						"     entity: ($pm_Entity),",
						"     format: 'cdm',",
						"     manifestType: 'manifest',",
						"     manifestName: ($pm_ManifestFile),",
						"     entityPath: ($pm_ManifestPath),",
						"     local: true,",
						"     folderPath: 'nuvias.operations.dynamics.com',",
						"     fileSystem: 'dynamics365-financeandoperations',",
						"     timestampFormats: ['yyyy-MM-dd\\'T\\'HH:mm:ss.SSSSSSS\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss','MM-dd-yyyy hh:mm:ss a','MM-dd-yyyy HH:mm:ss'],",
						"     mode: 'read') ~> GetCDMEnity",
						"GetCDMEnity derive(Sys_Bronze_InsertDateTime_UTC = currentUTC()) ~> AddBronzeLoadDate",
						"AddBronzeLoadDate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delta',",
						"     compressionType: 'snappy',",
						"     compressionLevel: 'Fastest',",
						"     fileSystem: 'bronze',",
						"     folderPath: ('nuvias.operations.dynamics.com/'+ $pm_Entity),",
						"     mergeSchema: true,",
						"     autoCompact: true,",
						"     optimizedWrite: true,",
						"     vacuum: 0,",
						"     deletable: false,",
						"     insertable: true,",
						"     updateable: false,",
						"     upsertable: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> WriteDeltaTable"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEPRECATED_PL_30_IGSQL03_Load_View')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If FullLoad",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.pm_FullLoad",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Delta Load Navision View",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SetNewWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:30:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"additionalColumns": [
												{
													"name": "Sys_Bronze_InsertDateTime_UTC",
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													}
												},
												{
													"name": "Sys_DatabaseName",
													"value": {
														"value": "@pipeline().parameters.pm_DatabaseName",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "Select * FROM [edw_@{pipeline().globalParameters.gpm_Environment}].[@{pipeline().parameters.pm_ViewName}]\nwhere [Sys_RowNumber] > @{variables('v_Watermark')}\n",
												"type": "Expression"
											},
											"queryTimeout": "01:30:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings",
												"maxRowsPerFile": 1000000,
												"fileNamePrefix": {
													"value": "bronze-igsql03-@{pipeline().parameters.pm_ViewName}-@{pipeline().parameters.pm_DatabaseName}-@{utcNow()}",
													"type": "Expression"
												}
											}
										},
										"enableStaging": false,
										"validateDataConsistency": true,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": true
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "LS_ADLS",
													"type": "LinkedServiceReference",
													"parameters": {
														"pm_Environment": {
															"value": "@pipeline().globalParameters.gpm_Environment",
															"type": "Expression"
														}
													}
												},
												"path": "logging/adf"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQLDB_NAV_DYNAMIC",
											"type": "DatasetReference",
											"parameters": {
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												},
												"pm_TableName": {
													"value": "@pipeline().parameters.pm_ViewName",
													"type": "Expression"
												},
												"pm_SchemaName": "edw",
												"pm_DatabaseName": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_PARQUET",
											"type": "DatasetReference",
											"parameters": {
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												},
												"pm_FileSystem": "bronze",
												"pm_Directory": {
													"value": "igsql03/@{replace(pipeline().parameters.pm_ViewName,' ','_')}/DatabaseName=@{pipeline().parameters.pm_DatabaseName}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetWatermark",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT [WATERMARK]\n  FROM [adf].[CT_IGSQL03_TABLES]\n  where TABLE_NAME = '@{pipeline().parameters.pm_ViewName}'\n  and DATABASE_NAME = '@{pipeline().parameters.pm_DatabaseName}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
											"type": "DatasetReference",
											"parameters": {
												"pm_SchemaName": "adf",
												"pm_TableName": "CT_IGSQL03_TABLES",
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "SetWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_Watermark",
										"value": {
											"value": "@if(empty(activity('GetWatermark').output.value),'0',activity('GetWatermark').output.value[0].WATERMARK)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "UpdateWatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Delta Load Navision View",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[adf].[sp_igsql03_tables_watermark_upsert]",
										"storedProcedureParameters": {
											"database_name": {
												"value": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												},
												"type": "String"
											},
											"table_name": {
												"value": {
													"value": "@pipeline().parameters.pm_ViewName",
													"type": "Expression"
												},
												"type": "String"
											},
											"watermark": {
												"value": {
													"value": "@variables('v_NewWatermark')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLDB_METADATA",
										"type": "LinkedServiceReference",
										"parameters": {
											"pm_Environment": {
												"value": "@pipeline().globalParameters.gpm_Environment",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "GetNewWatermark",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "SetWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:30:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "Select max([Sys_RowNumber]) as NewWatermark FROM [edw_@{pipeline().globalParameters.gpm_Environment}].[@{pipeline().parameters.pm_ViewName}]\nwhere Sys_RowNumber > @{variables('v_Watermark')} \n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQLDB_NAV_DYNAMIC",
											"type": "DatasetReference",
											"parameters": {
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												},
												"pm_TableName": {
													"value": "@pipeline().parameters.pm_ViewName",
													"type": "Expression"
												},
												"pm_SchemaName": {
													"value": "edw",
													"type": "Expression"
												},
												"pm_DatabaseName": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "SetNewWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetNewWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_NewWatermark",
										"value": {
											"value": "@string(\n    coalesce(\n        activity('GetNewWatermark').output.value[0].NewWatermark,\n        variables('v_Watermark')\n        )\n    )",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AddLoggingEntryDelta",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Delta Load Navision View",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[adf].[sp_igsql03_logging]",
										"storedProcedureParameters": {
											"database_name": {
												"value": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												},
												"type": "String"
											},
											"table_name": {
												"value": {
													"value": "@pipeline().parameters.pm_ViewName",
													"type": "Expression"
												},
												"type": "String"
											},
											"dataread": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"datawritten": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.datawritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"fileswritten": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.fileswritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"sourcepeakconnections": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.sourcepeakconnections",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"sinkpeakconnections": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.sinkpeakconnections",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"rowsread": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.rowsread",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"rowscopied": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.rowscopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"copyduration": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.copyduration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"throughput": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.throughput",
													"type": "Expression"
												},
												"type": "Decimal"
											},
											"usedparallelcopies": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.usedparallelcopies",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"queuingduration": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.executiondetails[0].detaileddurations.queuingduration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"timetofirstbyte": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.executiondetails[0].detaileddurations.timetofirstbyte",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"transferduration": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.executiondetails[0].detaileddurations.transferduration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"start": {
												"value": {
													"value": "@activity('Delta Load Navision View').output.executiondetails[0].start",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"full_load": {
												"value": {
													"value": "@pipeline().parameters.pm_FullLoad",
													"type": "Expression"
												},
												"type": "Boolean"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLDB_METADATA",
										"type": "LinkedServiceReference",
										"parameters": {
											"pm_Environment": {
												"value": "@pipeline().globalParameters.gpm_Environment",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Full Load Navision View",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SetNewWatermark_FullLoad",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:30:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"additionalColumns": [
												{
													"name": "Sys_Bronze_InsertDateTime_UTC",
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													}
												},
												{
													"name": "Sys_DatabaseName",
													"value": {
														"value": "@pipeline().parameters.pm_DatabaseName",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "Select * FROM  [edw_@{pipeline().globalParameters.gpm_Environment}].[@{pipeline().parameters.pm_ViewName}]\nwhere [Sys_RowNumber] <= '@{variables('v_NewWatermark')}'",
												"type": "Expression"
											},
											"queryTimeout": "01:30:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings",
												"maxRowsPerFile": 1000000,
												"fileNamePrefix": {
													"value": "bronze-igsql03-@{pipeline().parameters.pm_ViewName}-@{pipeline().parameters.pm_DatabaseName}-@{utcNow()}",
													"type": "Expression"
												}
											}
										},
										"enableStaging": false,
										"validateDataConsistency": true,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": true
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "LS_ADLS",
													"type": "LinkedServiceReference",
													"parameters": {
														"pm_Environment": {
															"value": "@pipeline().globalParameters.gpm_Environment",
															"type": "Expression"
														}
													}
												},
												"path": "logging/adf"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQLDB_NAV_DYNAMIC",
											"type": "DatasetReference",
											"parameters": {
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												},
												"pm_TableName": {
													"value": "@pipeline().parameters.pm_ViewName",
													"type": "Expression"
												},
												"pm_SchemaName": "edw",
												"pm_DatabaseName": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_PARQUET",
											"type": "DatasetReference",
											"parameters": {
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												},
												"pm_FileSystem": "bronze",
												"pm_Directory": {
													"value": "igsql03/@{replace(pipeline().parameters.pm_ViewName,' ','_')}/DatabaseName=@{pipeline().parameters.pm_DatabaseName}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "UpdateWatermark_FullLoad",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Full Load Navision View",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[adf].[sp_igsql03_tables_watermark_upsert]",
										"storedProcedureParameters": {
											"database_name": {
												"value": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												},
												"type": "String"
											},
											"table_name": {
												"value": {
													"value": "@pipeline().parameters.pm_ViewName",
													"type": "Expression"
												},
												"type": "String"
											},
											"watermark": {
												"value": {
													"value": "@variables('v_NewWatermark')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLDB_METADATA",
										"type": "LinkedServiceReference",
										"parameters": {
											"pm_Environment": {
												"value": "@pipeline().globalParameters.gpm_Environment",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "GetNewWatermark_FullLoad",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "Select max([Sys_RowNumber]) as NewWatermark FROM [edw_@{pipeline().globalParameters.gpm_Environment}].[@{pipeline().parameters.pm_ViewName}]\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQLDB_NAV_DYNAMIC",
											"type": "DatasetReference",
											"parameters": {
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												},
												"pm_TableName": {
													"value": "@pipeline().parameters.pm_ViewName",
													"type": "Expression"
												},
												"pm_SchemaName": {
													"value": "edw",
													"type": "Expression"
												},
												"pm_DatabaseName": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "SetNewWatermark_FullLoad",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetNewWatermark_FullLoad",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_NewWatermark",
										"value": {
											"value": "@string(\n    coalesce(\n        activity('GetNewWatermark_FullLoad').output.value[0].NewWatermark,\n        0\n        )\n    )",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AddLoggingEntryFull",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Full Load Navision View",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[adf].[sp_igsql03_logging]",
										"storedProcedureParameters": {
											"database_name": {
												"value": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												},
												"type": "String"
											},
											"table_name": {
												"value": {
													"value": "@pipeline().parameters.pm_ViewName",
													"type": "Expression"
												},
												"type": "String"
											},
											"dataread": {
												"value": {
													"value": "@activity('Full Load Navision View').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"datawritten": {
												"value": {
													"value": "@activity('Full Load Navision View').output.datawritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"fileswritten": {
												"value": {
													"value": "@activity('Full Load Navision View').output.fileswritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"sourcepeakconnections": {
												"value": {
													"value": "@activity('Full Load Navision View').output.sourcepeakconnections",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"sinkpeakconnections": {
												"value": {
													"value": "@activity('Full Load Navision View').output.sinkpeakconnections",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"rowsread": {
												"value": {
													"value": "@activity('Full Load Navision View').output.rowsread",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"rowscopied": {
												"value": {
													"value": "@activity('Full Load Navision View').output.rowscopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"copyduration": {
												"value": {
													"value": "@activity('Full Load Navision View').output.copyduration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"throughput": {
												"value": {
													"value": "@activity('Full Load Navision View').output.throughput",
													"type": "Expression"
												},
												"type": "Decimal"
											},
											"usedparallelcopies": {
												"value": {
													"value": "@activity('Full Load Navision View').output.usedparallelcopies",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"queuingduration": {
												"value": {
													"value": "@activity('Full Load Navision View').output.executiondetails[0].detaileddurations.queuingduration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"timetofirstbyte": {
												"value": {
													"value": "@activity('Full Load Navision View').output.executiondetails[0].detaileddurations.timetofirstbyte",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"transferduration": {
												"value": {
													"value": "@activity('Full Load Navision View').output.executiondetails[0].detaileddurations.transferduration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"start": {
												"value": {
													"value": "@activity('Full Load Navision View').output.executiondetails[0].start",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"full_load": {
												"value": {
													"value": "@pipeline().parameters.pm_FullLoad",
													"type": "Expression"
												},
												"type": "Boolean"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLDB_METADATA",
										"type": "LinkedServiceReference",
										"parameters": {
											"pm_Environment": {
												"value": "@pipeline().globalParameters.gpm_Environment",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pm_DatabaseName": {
						"type": "string"
					},
					"pm_ViewName": {
						"type": "string"
					},
					"pm_FullLoad": {
						"type": "bool",
						"defaultValue": false
					}
				},
				"variables": {
					"v_Watermark": {
						"type": "String"
					},
					"v_NewWatermark": {
						"type": "String"
					}
				},
				"folder": {
					"name": "10 Bronze/IGSQL03 [Navision]"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-19T10:31:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB_NAV_DYNAMIC')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB_METADATA_DYNAMIC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEPRECATED_PL_30_IGSQL03_Sync_Keys')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract all current Keys",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "Sys_DataFactory_LoadDateTime_UTC",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									},
									{
										"name": "Sys_DataFactory_DatabaseName",
										"value": {
											"value": "@pipeline().parameters.pm_DatabaseName",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": {
									"value": "Select DISTINCT @{join(pipeline().parameters.pm_BuinessKeys,',')} FROM [dbo].[@{pipeline().parameters.pm_TableName}]\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQLDB_NAV_DYNAMIC",
								"type": "DatasetReference",
								"parameters": {
									"pm_Environment": {
										"value": "@pipeline().globalParameters.gpm_Environment",
										"type": "Expression"
									},
									"pm_TableName": {
										"value": "@pipeline().parameters.pm_TableName",
										"type": "Expression"
									},
									"pm_SchemaName": "dbo",
									"pm_DatabaseName": {
										"value": "@pipeline().parameters.pm_DatabaseName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_PARQUET_STATIC",
								"type": "DatasetReference",
								"parameters": {
									"pm_Environment": {
										"value": "@pipeline().globalParameters.gpm_Environment",
										"type": "Expression"
									},
									"pm_FileSystem": "keys",
									"pm_Directory": {
										"value": "igsql03/@{toLower(replace(pipeline().parameters.pm_TableName,' ','_'))}",
										"type": "Expression"
									},
									"pm_FileName": {
										"value": "@{pipeline().parameters.pm_TableName}-@{pipeline().parameters.pm_DatabaseName}",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pm_DatabaseName": {
						"type": "string"
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_BuinessKeys": {
						"type": "array"
					}
				},
				"variables": {
					"v_Watermark": {
						"type": "String"
					},
					"v_NewWatermark": {
						"type": "String"
					}
				},
				"folder": {
					"name": "10 Bronze/IGSQL03 [Navision]"
				},
				"annotations": [],
				"lastPublishTime": "2023-09-26T13:28:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB_NAV_DYNAMIC')]"
			]
		}
	]
}