adf-ig-dev-westeurope/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ig-dev-westeurope"
		},
		"LS_SQLDB_METADATA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQLDB_METADATA'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=sql-ig-metadata-@{linkedService().pm_Environment}-westeurope.database.windows.net;Initial Catalog=sqldb-ig-metadata-@{linkedService().pm_Environment}-westeurope"
		},
		"LS_KV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-ig-@{linkedService().pm_Environment}-westeurope.vault.azure.net/"
		},
		"shir-igapphost02-shared_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/4b6b9329-18aa-4bf0-83f2-090c052e7fd3/resourcegroups/rg-ig-shared-westeurope/providers/Microsoft.DataFactory/factories/adf-ig-shared-westeurope/integrationruntimes/shir-igapphost02-shared"
		},
		"shir-jumpbi01-shared_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/4b6b9329-18aa-4bf0-83f2-090c052e7fd3/resourcegroups/rg-ig-shared-westeurope/providers/Microsoft.DataFactory/factories/adf-ig-shared-westeurope/integrationruntimes/shir-jumpbi01-shared"
		},
		"LS_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adls0ig0@{linkedService().pm_Environment}0westeurope.dfs.core.windows.net/"
		},
		"LS_ADLS_DV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dv0ig0@{linkedService().pm_environment}0westeurope.dfs.core.windows.net/"
		},
		"LS_ADLS_NUVIAS_DYNAMICS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://d365storageaccountdlhliv.dfs.core.windows.net"
		},
		"LS_PGSQL_CLOUDBLUE_OSS_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "secret-cloudblue-commerce-oss-connectionsstring"
		},
		"LS_PGSQL_CLOUDBLUE_PBA_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "secret-cloudblue-commerce-pba-connectionsstring"
		},
		"LS_SQLDB_CRM_DYNAMIC_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "secret-igsql01-@{toLower(linkedService().pm_DatabaseName)}-mscrm-connectionstring"
		},
		"LS_SQLDB_CRM_DYNAMIC_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "IG\\inf_svc_azsql_sync01"
		},
		"LS_SQLDB_NAV_DYNAMIC_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "secret-igsql03-@{toLower(linkedService().pm_DatabaseName)}-connectionstring"
		},
		"LS_SQLDB_NAV_DYNAMIC_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "IG\\inf_svc_azsql_sync01"
		},
		"LS_SQLDB_NUVIAS_FO_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "secret-nuaz-sqlserver-01-NUAV-@{linkedService().pm_DatabaseType}-SQLBYOD-connectionstring"
		},
		"LS_SQLDB_TAGETIK_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "secret-tagetikdbserver01-connectionstring"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_KV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-ig-managed-dev-westeurope')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": true
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-igapphost02-shared')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('shir-igapphost02-shared_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-jumpbi01-shared')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('shir-jumpbi01-shared_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/General')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "UDFLibrary",
				"typeProperties": {
					"sources": [],
					"sinks": [],
					"transformations": [],
					"scriptLines": [
						"applyParquetNaming(string) as string = replace(replace(replace(replace(replace(replace(replace(replace(i1,' ',''),'(',''),')',''),']',''),'[',''),';',''),'{',''),'}','')"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Databrick_Workspace_URL": {
						"type": "string"
					},
					"pm_Databricks_Workspace_Resource_ID": {
						"type": "string"
					},
					"pm_Databricks_Cluster_ID": {
						"type": "string"
					},
					"pm_NumberOfWorkers": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "@linkedService().pm_Databrick_Workspace_URL",
					"authentication": "MSI",
					"workspaceResourceId": "@linkedService().pm_Databricks_Workspace_Resource_ID",
					"instancePoolId": "@linkedService().pm_Databricks_Cluster_ID",
					"newClusterNumOfWorker": "@linkedService().pm_NumberOfWorkers",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "12.2.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				},
				"connectVia": {
					"referenceName": "ir-ig-managed-dev-westeurope",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-ig-managed-dev-westeurope')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "ir-ig-managed-dev-westeurope",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-ig-managed-dev-westeurope')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_DV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_DV_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "ir-ig-managed-dev-westeurope",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-ig-managed-dev-westeurope')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_NUVIAS_DYNAMICS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_NUVIAS_DYNAMICS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": "secret-adls-nuvias-dynamics-key"
					}
				},
				"connectVia": {
					"referenceName": "ir-ig-managed-dev-westeurope",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-ig-managed-dev-westeurope')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PGSQL_CLOUDBLUE_OSS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": "[parameters('LS_PGSQL_CLOUDBLUE_OSS_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "shir-jumpbi01-shared",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-jumpbi01-shared')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PGSQL_CLOUDBLUE_PBA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": "[parameters('LS_PGSQL_CLOUDBLUE_PBA_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "shir-jumpbi01-shared",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-jumpbi01-shared')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDB_CRM_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_DatabaseName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "[parameters('LS_SQLDB_CRM_DYNAMIC_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					},
					"userName": "[parameters('LS_SQLDB_CRM_DYNAMIC_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": "secret-igsql03-sql-password"
					}
				},
				"connectVia": {
					"referenceName": "shir-igapphost02-shared",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-igapphost02-shared')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDB_METADATA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQLDB_METADATA_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ir-ig-managed-dev-westeurope",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-ig-managed-dev-westeurope')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDB_NAV_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_DatabaseName": {
						"type": "string"
					},
					"pm_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "[parameters('LS_SQLDB_NAV_DYNAMIC_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					},
					"userName": "[parameters('LS_SQLDB_NAV_DYNAMIC_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": "secret-igsql03-sql-password"
					}
				},
				"connectVia": {
					"referenceName": "shir-igapphost02-shared",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-igapphost02-shared')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDB_NUVIAS_FO')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_DatabaseType": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "[parameters('LS_SQLDB_NUVIAS_FO_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "ir-ig-managed-dev-westeurope",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-ig-managed-dev-westeurope')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDB_TAGETIK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pm_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@linkedService().pm_Environment",
									"type": "Expression"
								}
							}
						},
						"secretName": "[parameters('LS_SQLDB_TAGETIK_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "ir-ig-managed-dev-westeurope",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-ig-managed-dev-westeurope')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_20_IGSQL03_Curate_Parquet_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "nb-igsql03-bronze-to-silver-update",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Add DatabaseName to BusinessKeys",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/ADO/inf-edw/databricks/silver/nb-igsql03-bronze-to-silver-update",
							"baseParameters": {
								"tableName": {
									"value": "@pipeline().parameters.pm_TableName",
									"type": "Expression"
								},
								"businessKeys": {
									"value": "@variables('v_BusinessKeys')",
									"type": "Expression"
								},
								"fullLoad": {
									"value": "@variables('v_FullLoad')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ADB",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Databrick_Workspace_URL": {
									"value": "@pipeline().globalParameters.gpm_Databrick_Workspace_URL",
									"type": "Expression"
								},
								"pm_Databricks_Workspace_Resource_ID": {
									"value": "@pipeline().globalParameters.gpm_Databricks_Workspace_Resource_ID",
									"type": "Expression"
								},
								"pm_Databricks_Cluster_ID": {
									"value": "@variables('v_Databricks_Cluster_ID')",
									"type": "Expression"
								},
								"pm_NumberOfWorkers": {
									"value": "@variables('v_NumberOfWorkers')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Add DatabaseName to BusinessKeys",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "If FullLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_BusinessKeys",
							"value": {
								"value": "@if(startswith(concat(pipeline().parameters.pm_BusinessKeys,',','Sys_DatabaseName'),','),'Sys_DatabaseName',concat(pipeline().parameters.pm_BusinessKeys,',','Sys_DatabaseName'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If FullLoad",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.pm_FullLoad",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "NO FULL_LOAD Set NumberOfWorkers",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_NumberOfWorkers",
										"value": "1"
									}
								},
								{
									"name": "NO FULL_LOAD Set Cluster ID",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_Databricks_Cluster_ID",
										"value": {
											"value": "@pipeline().globalParameters.gpm_IGSQL03_Databricks_Cluster_ID_DAILY_LOAD",
											"type": "Expression"
										}
									}
								},
								{
									"name": "NO FULL_LOAD Set FullLoad",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_FullLoad",
										"value": {
											"value": "'False'",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "FULL_LOAD Set NumberOfWorkers",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_NumberOfWorkers",
										"value": "1"
									}
								},
								{
									"name": "FULL_LOAD Set Cluster ID",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_Databricks_Cluster_ID",
										"value": {
											"value": "@pipeline().globalParameters.gpm_IGSQL03_Databricks_ClusterID_INITIAL_LOAD",
											"type": "Expression"
										}
									}
								},
								{
									"name": "FULL_LOAD Set FullLoad",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_FullLoad",
										"value": {
											"value": "'True'",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pm_FullLoad": {
						"type": "bool",
						"defaultValue": false
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_BusinessKeys": {
						"type": "string"
					}
				},
				"variables": {
					"v_BusinessKeys": {
						"type": "String"
					},
					"v_FullLoad": {
						"type": "String"
					},
					"v_Databricks_Cluster_ID": {
						"type": "String"
					},
					"v_NumberOfWorkers": {
						"type": "String"
					}
				},
				"folder": {
					"name": "20 Curation/IGSQL03 [Navision]"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_20_TAG02_Curate_Parquet_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "nb-tag02-bronze-to-silver-update",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Add DatabaseName to BusinessKeys",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/ADO/inf-edw/databricks/silver/nb-tag02-bronze-to-silver-update",
							"baseParameters": {
								"tableName": {
									"value": "@pipeline().parameters.pm_TableName",
									"type": "Expression"
								},
								"businessKeys": {
									"value": "@variables('v_BusinessKeys')",
									"type": "Expression"
								},
								"fullLoad": {
									"value": "@variables('v_FullLoad')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ADB",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Databrick_Workspace_URL": {
									"value": "@pipeline().globalParameters.gpm_Databrick_Workspace_URL",
									"type": "Expression"
								},
								"pm_Databricks_Workspace_Resource_ID": {
									"value": "@pipeline().globalParameters.gpm_Databricks_Workspace_Resource_ID",
									"type": "Expression"
								},
								"pm_Databricks_Cluster_ID": {
									"value": "@variables('v_Databricks_Cluster_ID')",
									"type": "Expression"
								},
								"pm_NumberOfWorkers": {
									"value": "@variables('v_NumberOfWorkers')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Add DatabaseName to BusinessKeys",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "If FullLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_BusinessKeys",
							"value": {
								"value": "@pipeline().parameters.pm_BusinessKeys",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If FullLoad",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.pm_FullLoad",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "NO FULL_LOAD Set NumberOfWorkers",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_NumberOfWorkers",
										"value": "1"
									}
								},
								{
									"name": "NO FULL_LOAD Set Cluster ID",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_Databricks_Cluster_ID",
										"value": {
											"value": "@pipeline().globalParameters.gpm_TAG02_Databricks_Cluster_ID_DAILY_LOAD",
											"type": "Expression"
										}
									}
								},
								{
									"name": "NO FULL_LOAD Set FullLoad",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_FullLoad",
										"value": {
											"value": "'False'",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "FULL_LOAD Set NumberOfWorkers",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_NumberOfWorkers",
										"value": "2"
									}
								},
								{
									"name": "FULL_LOAD Set Cluster ID",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_Databricks_Cluster_ID",
										"value": {
											"value": "@pipeline().globalParameters.gpm_TAG02_Databricks_Cluster_ID_INITIAL_LOAD",
											"type": "Expression"
										}
									}
								},
								{
									"name": "FULL_LOAD Set FullLoad",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_FullLoad",
										"value": {
											"value": "'True'",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pm_FullLoad": {
						"type": "bool",
						"defaultValue": false
					},
					"pm_TableName": {
						"type": "string"
					},
					"pm_BusinessKeys": {
						"type": "string"
					}
				},
				"variables": {
					"v_BusinessKeys": {
						"type": "String"
					},
					"v_FullLoad": {
						"type": "String"
					},
					"v_Databricks_Cluster_ID": {
						"type": "String"
					},
					"v_NumberOfWorkers": {
						"type": "String"
					}
				},
				"folder": {
					"name": "20 Curation/TAG02 [Tagetik]"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_99_TAG02_CREATE_EDW_LAYER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create EDW Schema",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_SQLDB_TAGETIK",
							"type": "LinkedServiceReference",
							"parameters": {
								"pm_Environment": {
									"value": "@pipeline().globalParameters.gpm_Environment",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "CREATE SCHEMA [edw_@{pipeline().globalParameters.gpm_Environment}]",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00 Technical/TAG02 [TAGETIK]/Recreate View"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB_TAGETIK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Environment": {
							"value": "@dataset().pm_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pm_Environment": {
						"type": "string"
					},
					"pm_FileSystem": {
						"type": "string"
					},
					"pm_Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().pm_Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().pm_FileSystem",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		}
	]
}