adf-ig-dev-westeurope/linkedTemplates/ArmTemplate_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ig-dev-westeurope"
		},
		"TR_SCHEDULE_DAILY_properties_runtimeState": {
			"type": "string",
			"defaultValue": "Started"
		},
		"TR_SCHEDULE_DAILY_properties_PL_00_MASTER_parameters_pm_FullLoad": {
			"type": "bool",
			"defaultValue": false
		},
		"TR_SCHEDULE_DAILY_startTime": {
			"type": "string",
			"defaultValue": "2023-07-26T00:00:00"
		},
		"TR_SCHEDULE_DAILY_hrs": {
			"type": "int",
			"defaultValue": 2
		},
		"TR_SCHEDULE_DAILY_weekDays": {
			"type": "array",
			"defaultValue": [
				"Monday",
				"Tuesday",
				"Wednesday",
				"Thursday",
				"Friday"
			]
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_00_NUVIAS_OPERATIONS_MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_10_NUVIAS_OPERATIONS_ITERATOR",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_10_NUVIAS_OPERATIONS_ITERATOR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pm_FullLoad": {
									"value": "@pipeline().parameters.pm_FullLoad",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pm_FullLoad": {
						"type": "bool",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "10 Bronze/NUVIAS/OPERATIONS"
				},
				"annotations": [],
				"lastPublishTime": "2023-09-25T15:09:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_00_MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_00_TAG02_Load_View_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_TAG02_Load_View_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pm_full_load": {
									"value": "@pipeline().parameters.pm_FullLoad",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_00_IGSQL03_Load_View_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_IGSQL03_Load_View_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pm_FullLoad": {
									"value": "@pipeline().parameters.pm_FullLoad",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_00_NETSUITE_Load_File_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_NETSUITE_Load_File_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pm_FullLoad": {
									"value": "@pipeline().parameters.pm_FullLoad",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_00_NUVIAS_OPERATIONS_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_NUVIAS_OPERATIONS_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pm_FullLoad": {
									"value": "@pipeline().parameters.pm_FullLoad",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_00_CLOUDBLUE_OSS_Load_Table_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_00_CLOUDBLUE_PBA_Load_Table_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_CLOUDBLUE_OSS_Load_Table_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pm_full_load": {
									"value": "@pipeline().parameters.pm_FullLoad",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_00_CLOUDBLUE_PBA_Load_Table_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_CLOUDBLUE_PBA_Load_Table_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pm_full_load": {
									"value": "@pipeline().parameters.pm_FullLoad",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_00_BRONZE_TO_SILVER_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_00_CLOUDBLUE_OSS_Load_Table_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_TAG02_Load_View_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_IGSQL03_Load_View_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_NETSUITE_Load_File_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_NUVIAS_OPERATIONS_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_VUZION_ARR_Load_Sheet_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_NETSAFE_Load_File_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_CLOUD_DISTRIBUTION_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_DCB_Load_File_MASTER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_00_NUAZ-SQLSERVER-01_Load_Table_MASTER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_00_IGSQL01_Load_View_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PL_00_TAG02_SAAS_DELTA",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_00_VUZION_INVOICES",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_00_MASTERDATA_Load_File_ARR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_BRONZE_TO_SILVER_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_SILVER_TO_GOLD_OBT_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_00_BRONZE_TO_SILVER_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_SILVER_TO_GOLD_OBT_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_VUZION_ARR_Load_Sheet_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_VUZION_ARR_Load_Sheet_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_NETSAFE_Load_File_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_NETSAFE_Load_File_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_CLOUD_DISTRIBUTION_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_CLOUD_DISTRIBUTION_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_DCB_Load_File_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_DCB_Load_File_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_NUAZ-SQLSERVER-01_Load_Table_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_NUAZ-SQLSERVER-01_Load_Table_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_20_SILVER_TO_GOLD_TAG02_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_00_BRONZE_TO_SILVER_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_20_SILVER_TO_GOLD_TAG02_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_40_SILVER_TO_GOLD_OPS_REPORTING_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_00_BRONZE_TO_SILVER_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_40_SILVER_TO_GOLD_OPS_REPORTING_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_IGSQL01_Load_View_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_IGSQL01_Load_Table_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pm_FullLoad": {
									"value": "@pipeline().parameters.pm_FullLoad",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_00_TAG02_SAAS_DELTA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_10_TAG_SaaS_DeltaLoad_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_MASTERDATA_Load_File_ARR",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_DATANOW_ARR_LATEST_Load_Sheet_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_00_VUZION_INVOICES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_00_VUZION_Invoices_Load_Master",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pm_FullLoad": {
						"type": "bool",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "00 Setup"
				},
				"annotations": [],
				"lastPublishTime": "2024-07-18T11:07:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_00_NUVIAS_OPERATIONS_MASTER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_SCHEDULE_DAILY')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "[parameters('TR_SCHEDULE_DAILY_properties_runtimeState')]",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_00_MASTER",
							"type": "PipelineReference"
						},
						"parameters": {
							"pm_FullLoad": "[parameters('TR_SCHEDULE_DAILY_properties_PL_00_MASTER_parameters_pm_FullLoad')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_10_TAG_SaaS_FullLoad_MASTER_TEMP",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "[parameters('TR_SCHEDULE_DAILY_startTime')]",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"hours": [
								"[parameters('TR_SCHEDULE_DAILY_hrs')]"
							],
							"weekDays": "[parameters('TR_SCHEDULE_DAILY_weekDays')]"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_00_MASTER')]"
			]
		}
	]
}