factory/pipeline/PL_10_NUVIAS_OPERATIONS_SUPPLEMENTARY_ITERATOR.json
{
	"name": "PL_10_NUVIAS_OPERATIONS_SUPPLEMENTARY_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "GetMainManifest",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_PARQUET",
						"type": "DatasetReference",
						"parameters": {
							"pm_Environment": "dev",
							"pm_FileSystem": "bronze-nuvias",
							"pm_Directory": "table_list\\supplementary"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEntities",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMainManifest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMainManifest').output",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "PL_20_NUVIAS_OPERATIONS_LOAD_ENTITY",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_20_NUVIAS_OPERATIONS_SUPPLEMENTARY_LOAD_ENTITY",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_Entity": {
										"value": "@item().entityName",
										"type": "Expression"
									},
									"pm_ManifestPath": {
										"value": "@item().manifestPath",
										"type": "Expression"
									},
									"pm_ManifestFile": {
										"value": "@item().manifestFile",
										"type": "Expression"
									},
									"pm_FullLoad": {
										"value": "@pipeline().parameters.pm_FullLoad",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pm_FullLoad": {
				"type": "bool",
				"defaultValue": false
			},
			"pm_ManifestPath": {
				"type": "string"
			},
			"pm_ManifestFile": {
				"type": "string"
			}
		},
		"folder": {
			"name": "10 Bronze/NUVIAS/SUPPLEMENTARY"
		},
		"annotations": []
	}
}