factory/pipeline/PL_10_DATANOW_ARR_Load_Sheet_ITERATOR.json
{
	"name": "PL_10_DATANOW_ARR_Load_Sheet_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "GetSheetNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "\nSELECT [SheetName]\n  FROM [adf].[CT_DATANOW_ARR_SHEETS]\n  where ShouldBeLoaded = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_DATANOW_ARR_SHEETS",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSheet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSheetNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSheetNames').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "PL_20_DATANOW_ARR_Load_Sheet",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_20_DATANOW_ARR_Load_Sheet",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_SheetName": {
										"value": "@item().SheetName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "10 Bronze/DATANOW"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-05T12:26:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}