factory/pipeline/PL_15_NUVIAS_OPERATIONS_ITERATOR__4.json
{
	"name": "PL_15_NUVIAS_OPERATIONS_ITERATOR__4",
	"properties": {
		"activities": [
			{
				"name": "GetManifest",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_JSON_NUVIAS_FO_MANIFEST",
						"type": "DatasetReference",
						"parameters": {
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							},
							"pm_ManifestPath": {
								"value": "@pipeline().parameters.pm_ManifestPath",
								"type": "Expression"
							},
							"pm_ManifestName": {
								"value": "@pipeline().parameters.pm_ManifestFile",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEachSubmanifest",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetManifest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@if(contains(activity('GetManifest').output.firstRow,'subManifests'),activity('GetManifest').output.firstRow.subManifests,array(''))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "PL_15_NUVIAS_OPERATIONS_SUBITERATOR__5",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_15_NUVIAS_OPERATIONS_ITERATOR__5",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"pm_FullLoad": {
										"value": "@pipeline().parameters.pm_FullLoad",
										"type": "Expression"
									},
									"pm_ManifestPath": {
										"value": "@{pipeline().parameters.pm_ManifestPath}/@{item().manifestName}",
										"type": "Expression"
									},
									"pm_ManifestFile": {
										"value": "@{item().manifestName}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEachEntities",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetManifest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@if(contains(activity('GetManifest').output.firstRow,'entities'),activity('GetManifest').output.firstRow.entities,array(''))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "PL_20_NUVIAS_OPERATIONS_LOAD_ENTITY",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_20_NUVIAS_OPERATIONS_LOAD_ENTITY",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_Entity": {
										"value": "@item().entityName",
										"type": "Expression"
									},
									"pm_ManifestPath": {
										"value": "@pipeline().parameters.pm_ManifestPath",
										"type": "Expression"
									},
									"pm_ManifestFile": {
										"value": "@pipeline().parameters.pm_ManifestFile",
										"type": "Expression"
									},
									"pm_FullLoad": {
										"value": "@pipeline().parameters.pm_FullLoad",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pm_FullLoad": {
				"type": "bool",
				"defaultValue": false
			},
			"pm_ManifestPath": {
				"type": "string"
			},
			"pm_ManifestFile": {
				"type": "string"
			}
		},
		"folder": {
			"name": "10 Ingestion/NUVIAS/OPERATIONS"
		},
		"annotations": []
	}
}