factory/pipeline/PL_10_CLOUDBLUE_PBA_Load_Table_Copy.json
{
	"name": "PL_10_CLOUDBLUE_PBA_Load_Table_Copy",
	"properties": {
		"activities": [
			{
				"name": "Get EDW Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT [TABLE_NAME] as tablename,[COLUMN_NAME] AS columnname, [WATERMARK_NUM] as watermark\n   \n  FROM [adf].[CT_CLOUDBLUE_PBA_TABLES]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_CLOUDBLUE_PBA_TABLES",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachView",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get EDW Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get EDW Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "PL_20_CLOUDBLUE_Copy_Data",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_20_CLOUDBLUE_PBA_Copy_Data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_full_load": true,
									"pm_TableName": {
										"value": "@item().tablename",
										"type": "Expression"
									},
									"pm_WaterMark": {
										"value": "@item().watermark",
										"type": "Expression"
									},
									"pm_ColumnName": {
										"value": "@item().columnname",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pm_full_load": {
				"type": "string"
			}
		},
		"variables": {
			"v_tabelnames": {
				"type": "String"
			},
			"Watermark_int_delta": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Ingestion/CLOUDBLUE/PBA"
		},
		"annotations": []
	}
}