factory/pipeline/PL_10_NUVIAS_OPERATIONS_MANIFEST_ITERATOR.json
{
	"name": "PL_10_NUVIAS_OPERATIONS_MANIFEST_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "GetManifest",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyManifestToADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_JSON_NUVIAS_FO_MANIFEST",
						"type": "DatasetReference",
						"parameters": {
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							},
							"pm_ManifestPath": {
								"value": "Tables",
								"type": "Expression"
							},
							"pm_ManifestName": {
								"value": "Tables",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEachSubmanifest",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetManifest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetManifest').output.firstRow.subManifests",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "PL_15_NUVIAS_OPERATIONS_MANIFEST_SUBITERATOR__1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_15_NUVIAS_OPERATIONS_MANIFEST_ITERATOR__1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_FullLoad": {
										"value": "@pipeline().parameters.pm_FullLoad",
										"type": "Expression"
									},
									"pm_ManifestPath": {
										"value": "Tables/@{item().manifestName}",
										"type": "Expression"
									},
									"pm_ManifestFile": {
										"value": "@item().manifestName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "CopyManifestToADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_JSON_NUVIAS_FO_MANIFEST",
						"type": "DatasetReference",
						"parameters": {
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							},
							"pm_ManifestPath": {
								"value": "Tables",
								"type": "Expression"
							},
							"pm_ManifestName": {
								"value": "Tables",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_JSON",
						"type": "DatasetReference",
						"parameters": {
							"pm_FileName": {
								"value": "Tables",
								"type": "Expression"
							},
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"pm_FullLoad": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "10 Bronze/NUVIAS/MANIFEST"
		},
		"annotations": []
	}
}