factory/pipeline/PL_10_CLOUDBLUE_PBA_Load_Table_ITERATOR.json
{
	"name": "PL_10_CLOUDBLUE_PBA_Load_Table_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "Get EDW Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT [TABLE_NAME] ,[COLUMN_NAME] , [WATERMARK] \n  FROM [adf].[CT_CLOUDBLUE_PBA_TABLES]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_CLOUDBLUE_PBA_TABLES",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachView",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get EDW Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get EDW Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "PL_20_CLOUDBLUE_Copy_Data",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_20_CLOUDBLUE_PBA_Copy_Data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_full_load": {
										"value": "@pipeline().parameters.pm_full_load",
										"type": "Expression"
									},
									"pm_TableName": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"pm_WaterMark": {
										"value": "@item().WATERMARK",
										"type": "Expression"
									},
									"pm_ColumnName": {
										"value": "@item().COLUMN_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pm_full_load": {
				"type": "string",
				"defaultValue": "false"
			}
		},
		"variables": {
			"v_tabelnames": {
				"type": "String"
			},
			"Watermark_int_delta": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Bronze/CLOUDBLUE/PBA"
		},
		"annotations": []
	}
}