factory/pipeline/PL_10_IGSQL01_Load_Table_ITERATOR.json
{
	"name": "PL_10_IGSQL01_Load_Table_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "Get DataBases Control",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \nFROM[adf].[CT_IGSQL01_DATABASES]\nwhere ACTIVE=1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_IGSQL01_DATABASES",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get DataBases Control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get DataBases Control').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "PL_20_IGCRM_Load_Table_ITERATOR",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_20_IGSQL01_Load_Table_ITERATOR",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_DataBase": {
										"value": "@item().DATABASE_NAME",
										"type": "Expression"
									},
									"pm_FullLoad": {
										"value": "@pipeline().parameters.pm_FullLoad",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pm_FullLoad": {
				"type": "bool"
			}
		},
		"variables": {
			"Watermark": {
				"type": "String"
			},
			"ColumnString": {
				"type": "Array"
			},
			"ColumnName": {
				"type": "String"
			},
			"Watermark_value": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Bronze/IGSQL01 [CRM]"
		},
		"annotations": [],
		"lastPublishTime": "2024-07-10T06:23:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}