factory/pipeline/PL_10_VUZION_Load_Invoices.json
{
	"name": "PL_10_VUZION_Load_Invoices",
	"properties": {
		"activities": [
			{
				"name": "Get Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT TABLE_NAME\n  FROM [adf].[CT_VUZION_FINANCE_TABLES]\n  where DATABASE_NAME = 'sqldb-azureinvoices-prod'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_VUZION_FINANCE_TABLES",
							"pm_Environment": "@pipeline().globalParameters.gpm_Environment"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM [dbo].[@{item().TABLE_NAME}]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings",
										"maxRowsPerFile": 1000000,
										"fileNamePrefix": {
											"value": "bronze-vuzion-@{item().TABLE_NAME}-@{utcNow()}",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_VUZION_INVOICE_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_TableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"pm_Database": {
											"value": "sqldb-azureinvoices-prod",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": "@pipeline().globalParameters.gpm_Environment",
										"pm_FileSystem": "bronze",
										"pm_Directory": {
											"value": "cloudblue/invoice/@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "10 Bronze/VUZION/Invoices"
		},
		"annotations": []
	}
}