factory/pipeline/PL_10_TAG_SaaS_DeltaLoad_MASTER.json
{
	"name": "PL_10_TAG_SaaS_DeltaLoad_MASTER",
	"properties": {
		"activities": [
			{
				"name": "Get EDW Views",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Update Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT distinct [CODE],[TABLE_NAME],[FULL_LOAD]\n  FROM [adf].[CT_TAG_SAAS_TABLES]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_TAG_SAAS_TABLES",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachView",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get EDW Views",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get EDW Views').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "PL_20_TAG_SaaS_DeltaLoad",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_20_TAG_SaaS_DeltaLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"pm_Code": {
										"value": "@item().CODE",
										"type": "Expression"
									},
									"pm_Table": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"pm_UpdateDate": {
										"value": "@variables('UpdateDate')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Update Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "UpdateDate",
					"value": {
						"value": "@startOfDay(subtractFromTime(utcNow(), 1, 'Day'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"UpdateDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Bronze/TAG02 [TAGETIK]/SaaS"
		},
		"annotations": []
	}
}