factory/pipeline/PL_20_IGSQL03_Recreate_View_ITERATOR.json
{
	"name": "PL_20_IGSQL03_Recreate_View_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get DatabasesControl Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get DatabasesControl Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PL_30_IGSQL03_Recreate_View",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_30_IGSQL03_Recreate_View",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_TableName": {
										"value": "@pipeline().parameters.pm_TableName",
										"type": "Expression"
									},
									"pm_DatabaseName": {
										"value": "@item().DATABASE_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get DatabasesControl Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\n  FROM [adf].[CT_IGSQL03_DATABASES]\n  where Active = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_IGSQL03_DATABASES",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"pm_TableName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "00 Setup/[DEPRECATED] IGSQL03 [Navision]/Recreate View"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-25T15:09:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}