factory/pipeline/PL_20_TAG02_Sync_Keys.json
{
	"name": "PL_20_TAG02_Sync_Keys",
	"properties": {
		"activities": [
			{
				"name": "GetBusinessKeys",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from [adf].[CT_TAG02_KEYS]\nwhere TABLE_NAME = '@{pipeline().parameters.pm_ViewName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_TAG02_KEYS",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "BusinessKeysExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetBusinessKeys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetBusinessKeys').output.firstRow.Business_Keys,null)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Extract all current Keys",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "Sys_DataFactory_LoadDateTime_UTC",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "Select DISTINCT @{activity('GetBusinessKeys').output.firstRow.Business_Keys} FROM [edw_@{pipeline().globalParameters.gpm_Environment}].[@{pipeline().parameters.pm_ViewName}]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLDB_TAGETIK_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_SchemaName": {
											"value": "edw_@{pipeline().globalParameters.gpm_Environment}",
											"type": "Expression"
										},
										"pm_TableName": {
											"value": "@pipeline().parameters.pm_ViewName",
											"type": "Expression"
										},
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET_STATIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@{pipeline().globalParameters.gpm_Environment}",
											"type": "Expression"
										},
										"pm_FileSystem": "keys",
										"pm_Directory": {
											"value": "tag02/@{toLower(replace(pipeline().parameters.pm_ViewName,' ','_'))}",
											"type": "Expression"
										},
										"pm_FileName": {
											"value": "@{pipeline().parameters.pm_ViewName}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pm_ViewName": {
				"type": "string"
			}
		},
		"variables": {
			"v_Watermark": {
				"type": "String"
			},
			"v_NewWatermark": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Bronze/TAG02 [TAGETIK]/Deprecated"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-14T13:20:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}