factory/pipeline/PL_20_IGSQL03_Curate_Parquet_Files.json
{
	"name": "PL_20_IGSQL03_Curate_Parquet_Files",
	"properties": {
		"activities": [
			{
				"name": "nb-igsql03-bronze-to-silver-update",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Add DatabaseName to BusinessKeys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/ADO/inf-edw/databricks/silver/nb-igsql03-bronze-to-silver-update",
					"baseParameters": {
						"tableName": {
							"value": "@pipeline().parameters.pm_TableName",
							"type": "Expression"
						},
						"businessKeys": {
							"value": "@variables('v_BusinessKeys')",
							"type": "Expression"
						},
						"fullLoad": {
							"value": "@if(pipeline().parameters.pm_FullLoad,'True','False')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pm_Databrick_Workspace_URL": {
							"value": "@pipeline().globalParameters.gpm_Databrick_Workspace_URL",
							"type": "Expression"
						},
						"pm_Databricks_Workspace_Resource_ID": {
							"value": "@pipeline().globalParameters.gpm_Databricks_Workspace_Resource_ID",
							"type": "Expression"
						},
						"pm_Databricks_Cluster_ID": {
							"value": "@pipeline().globalParameters.gpm_Databricks_Cluster_ID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Add DatabaseName to BusinessKeys",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_BusinessKeys",
					"value": {
						"value": "@if(startswith(concat(pipeline().parameters.pm_BusinessKeys,',','Sys_DatabaseName'),','),'Sys_DatabaseName',concat(pipeline().parameters.pm_BusinessKeys,',','Sys_DatabaseName'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pm_FullLoad": {
				"type": "bool",
				"defaultValue": "False"
			},
			"pm_TableName": {
				"type": "string"
			},
			"pm_BusinessKeys": {
				"type": "string"
			}
		},
		"variables": {
			"v_BusinessKeys": {
				"type": "String"
			}
		},
		"folder": {
			"name": "20 Curation/IGSQL03 [Navision]"
		},
		"annotations": []
	}
}