factory/pipeline/PL_20_IGSQL03_Load_View_ITERATOR.json
{
	"name": "PL_20_IGSQL03_Load_View_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get EDW Views",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get EDW Views').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "PL_30_IGSQL03_Load_View",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "GetBusinessKeys",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_30_IGSQL03_Load_View",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_DatabaseName": {
										"value": "@pipeline().parameters.pm_DatabaseName",
										"type": "Expression"
									},
									"pm_ViewName": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"pm_FullLoad": {
										"value": "@pipeline().parameters.pm_FullLoad",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GetBusinessKeys",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "Select [FOLDER_NAME],[BUSINESS_KEYS] from [adf].[CT_IGSQL03_KEYS]\nwhere [FOLDER_NAME] = '@{item().TABLE_NAME}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_SchemaName": {
											"value": "adf",
											"type": "Expression"
										},
										"pm_TableName": {
											"value": "CT_IGSQL03_KEYS",
											"type": "Expression"
										},
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "IfBusinessKeysExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "PL_30_IGSQL03_Load_View",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(activity('GetBusinessKeys').output.firstRow.BUSINESS_KEYS)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "PL_30_IGSQL03_Sync_Keys",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_30_IGSQL03_Sync_Keys",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"pm_DatabaseName": {
													"value": "@pipeline().parameters.pm_DatabaseName",
													"type": "Expression"
												},
												"pm_ViewName": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												},
												"pm_BuinessKeys": {
													"value": "@split(activity('GetBusinessKeys').output.firstRow.BUSINESS_KEYS,',')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get EDW Views",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "Select [TABLE_NAME] FROM INFORMATION_SCHEMA.TABLES\nwhere [TABLE_SCHEMA] = 'edw'\nand [TABLE_CATALOG] = '@{pipeline().parameters.pm_DatabaseName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_NAV_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							},
							"pm_TableName": {
								"value": "TABLES",
								"type": "Expression"
							},
							"pm_SchemaName": "INFORMATION_SCHEMA",
							"pm_DatabaseName": {
								"value": "@pipeline().parameters.pm_DatabaseName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"pm_DatabaseName": {
				"type": "string"
			},
			"pm_FullLoad": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "10 Ingestion/IGSQL03 [Navision]"
		},
		"annotations": []
	}
}