factory/pipeline/PL_20_NUVIAS_D365_Load_Table.json
{
	"name": "PL_20_NUVIAS_D365_Load_Table",
	"properties": {
		"activities": [
			{
				"name": "Get Meta Information",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_NU_D365_TABLES",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Meta Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Meta Information').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Load Source Table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Water Mark",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "05:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ODataSource",
									"additionalColumns": [
										{
											"name": "Sys_Bronze_InsertDateTime_UTC",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:10:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": true
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_ADLS",
											"type": "LinkedServiceReference",
											"parameters": {
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												}
											}
										},
										"path": "logging/adf"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS__NU_D365",
									"type": "DatasetReference",
									"parameters": {
										"pm_table": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"pm_date": {
											"value": "@item().WatermarkColumn",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_FileSystem": "bronze",
										"pm_Directory": {
											"value": "nuvias_d365/@{item().TableName}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Get Water Mark",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "UpdatedWatermarks",
								"value": {
									"value": "@variables('UpdatedWatermarks2')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Water Mark",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Water Mark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "UpdatedWatermarks2",
								"value": {
									"value": "@concat(variables('UpdatedWatermarks'),item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get New Water Mark",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set Water Mark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/ying-zhen.chen@infinigate.com/inf-edw/databricks/bronze/nb-get-watermark"
							},
							"linkedServiceName": {
								"referenceName": "LS_ADB",
								"type": "LinkedServiceReference",
								"parameters": {
									"pm_Databrick_Workspace_URL": {
										"value": "@pipeline().globalParameters.gpm_Databrick_Workspace_URL",
										"type": "Expression"
									},
									"pm_Databricks_Workspace_Resource_ID": {
										"value": "@pipeline().globalParameters.gpm_Databricks_Workspace_Resource_ID",
										"type": "Expression"
									},
									"pm_Databricks_Cluster_ID": {
										"value": "@pipeline().globalParameters.gpm_lightweight_jobs_Databricks_ClusterID",
										"type": "Expression"
									},
									"pm_NumberOfWorkers": "1"
								}
							}
						},
						{
							"name": "Set New Water Mark",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get New Water Mark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_NewWatermark",
								"value": {
									"value": "@activity('Get New Water Mark').output.runOutput",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"UpdatedWatermarks": {
				"type": "String"
			},
			"UpdatedWatermarks2": {
				"type": "String"
			},
			"v_NewWatermark": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Bronze/NUVIAS/D365"
		},
		"annotations": []
	}
}