factory/pipeline/PL_20_TAG02_Load_View_Delta.json
{
	"name": "PL_20_TAG02_Load_View_Delta",
	"properties": {
		"activities": [
			{
				"name": "Get EDW Views",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  * FROM INFORMATION_SCHEMA.views\nwhere table_SCHEMA='edw' \n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_TAGETIK_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "INFORMATION_SCHEMA",
							"pm_TableName": "VIEWS",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table in Tagetik copy data in Delta Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get EDW Views",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get EDW Views').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 8,
					"activities": [
						{
							"name": "Delta Load Tagetik View",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Watermark to Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "Sys_DataFactory_LoadDateTime_UTC",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										{
											"name": "Sys_DataFactory_DatabaseName",
											"value": {
												"value": "@pipeline().parameters.pm_DatabaseName",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "Select * FROM  edw.@{item().TABLE_NAME}\nwhere [DATEUPD] > @{variables('V_Watermark_Delta')}\nand [DATEUPD] <= @{variables('v_watermark_Delta_update')}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings",
										"maxRowsPerFile": 1000000,
										"fileNamePrefix": {
											"value": "bronze-tag02-@{item().TABLE_NAME}-@{utcNow()}",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": true
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_ADLS",
											"type": "LinkedServiceReference",
											"parameters": {
												"pm_Environment": {
													"value": "@pipeline().globalParameters.gpm_Environment",
													"type": "Expression"
												}
											}
										},
										"path": "logging/adf"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLDB_TAGETIK_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_SchemaName": "edw",
										"pm_TableName": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_FileSystem": "bronze",
										"pm_Directory": {
											"value": "tag02/@{item().TABLE_NAME}//@{formatDateTime(utcNow(),'yyyy')}/@{formatDateTime(utcNow(),'MM')}/@{formatDateTime(utcNow(),'dd')}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetWatermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT [WATERMARK]\n  FROM [adf].[CT_TAG02_TABLES]\n  where TABLE_NAME = 'item().TABLE_NAME'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_SchemaName": "adf",
										"pm_TableName": {
											"value": "CT_TAG02_TABLES",
											"type": "Expression"
										},
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SetWatermark",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_Watermark_Delta",
								"value": {
									"value": "@if(empty(activity('GetWatermark').output.value),'1900-01-01',activity('GetWatermark').output.value[0].WATERMARK)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Watermark to Variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetNewWatermark_Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_watermark_Delta_update",
								"value": {
									"value": "@activity('GetNewWatermark_Delta').output.value[0].WATERMARK",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetNewWatermark_Delta",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "table_name",
									"value": "@item().TABLE_NAME"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "Select max([DATEUPD]) as WATERMARK ,'@{item().TABLE_NAME}' as TABLE_NAME\nFROM edw.'@{item().TABLE_NAME}' ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLDB_TAGETIK_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_SchemaName": "INFORMATION_SCHEMA",
										"pm_TableName": "TABLES",
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "UpsertWatermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delta Load Tagetik View",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[sp_tag02_tables_watermark_upsert]",
								"storedProcedureParameters": {
									"table_name": {
										"value": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"watermark": {
										"value": {
											"value": "@variables('v_watermark_Delta_update')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB_METADATA",
								"type": "LinkedServiceReference",
								"parameters": {
									"pm_Environment": {
										"value": "@pipeline().globalParameters.gpm_Environment",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"V_Watermark_Delta": {
				"type": "String"
			},
			"v_watermark_Delta_update": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Ingestion/TAG02 [TAGETIK]"
		},
		"annotations": []
	}
}