factory/pipeline/PL_30_IGSQL01_Load_View.json
{
	"name": "PL_30_IGSQL01_Load_View",
	"properties": {
		"activities": [
			{
				"name": "IfFullLoad",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "For Each Column",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.pm_FullLoad",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Delta Load CRM IG",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Watermarkvalue_Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "Sys_Bronze_InsertDateTime_UTC",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										{
											"name": "Sys_DatabaseName",
											"value": {
												"value": "@pipeline().parameters.pm_DatabaseName",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT \n@{concat(join(variables('ColumnString'),',' ) )} FROM dbo.[@{pipeline().parameters.pm_TableName}]\nWHERE \n\"@{pipeline().parameters.pm_WatermarkColumn}\">= '@{variables('Watermark_Value_Delta')}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings",
										"maxRowsPerFile": 1000000,
										"fileNamePrefix": {
											"value": "bronze-igsql01-@{pipeline().parameters.pm_TableName}-@{pipeline().parameters.pm_DatabaseName}-@{utcNow()}",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLDB_CRM_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_TableName": {
											"value": "@pipeline().parameters.pm_TableName",
											"type": "Expression"
										},
										"pm_DatabaseName": {
											"value": "@pipeline().parameters.pm_DatabaseName",
											"type": "Expression"
										},
										"pm_SchemaName": {
											"value": "@pipeline().parameters.pm_SchemaName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_FileSystem": {
											"value": "bronze",
											"type": "Expression"
										},
										"pm_Directory": {
											"value": "igsql01/@{pipeline().parameters.pm_TableName}/pm_DatabaseName=@{pipeline().parameters.pm_DatabaseName}/",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "UpdateWatermark_Delta_Load",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delta Load CRM IG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[sp_igsql01_crm_tables_watermark_upsert]",
								"storedProcedureParameters": {
									"table_name": {
										"value": {
											"value": "@pipeline().parameters.pm_TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"watermark": {
										"value": {
											"value": "@variables('Watermark_Value_Delta')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"database_name": {
										"value": {
											"value": "@pipeline().parameters.pm_DatabaseName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB_METADATA",
								"type": "LinkedServiceReference",
								"parameters": {
									"pm_Environment": {
										"value": "@pipeline().globalParameters.gpm_Environment",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get Watermark data_Delta",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Get Watermark Column_Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT COALESCE([WATERMARK]),'1900-01-01') AS [WATERMARK_DELTA]\n  FROM [adf].[CT_IGSQL01_TABLES] where DATABASE_NAME='@{pipeline().parameters.pm_DatabaseName}' AND TABLE_NAME='@{pipeline().parameters.pm_TableName}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_SchemaName": "adf",
										"pm_TableName": "CT_IGSQL01_TABLES",
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Get Watermark Column_Delta",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT \nCOLUMN_NAME as [COLUMN NAME]\n\n  FROM [adf].[CT_IGSQL01_COLUMNS] WHERE DATABASE_NAME='@{pipeline().parameters.pm_DatabaseName}' AND TABLE_NAME='@{pipeline().parameters.pm_TableName}' AND WATERMARK_COLUMN=1",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_SchemaName": {
											"value": "adf",
											"type": "Expression"
										},
										"pm_TableName": "CT_IGSQL01_COLUMNS",
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Watermarkvalue_Delta",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Watermark data_Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Watermark_Value_Delta",
								"value": {
									"value": "@activity('Get Watermark data_Delta').output.firstRow.WATERMARK_DELTA",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Full Load CRM IG",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Watermarkvalue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "Sys_Bronze_InsertDateTime_UTC",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										{
											"name": "Sys_DatabaseName",
											"value": {
												"value": "@pipeline().parameters.pm_DatabaseName",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT \n@{concat(join(variables('ColumnString'),',' ) )} FROM dbo.[@{pipeline().parameters.pm_TableName}]\nWHERE \n\"@{pipeline().parameters.pm_WatermarkColumn}\"<= '@{variables('Watermark_value')}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings",
										"maxRowsPerFile": 1000000,
										"fileNamePrefix": {
											"value": "bronze-igsql01-@{pipeline().parameters.pm_TableName}-@{pipeline().parameters.pm_DatabaseName}-@{utcNow()}",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLDB_CRM_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_TableName": {
											"value": "@pipeline().parameters.pm_TableName",
											"type": "Expression"
										},
										"pm_DatabaseName": {
											"value": "@pipeline().parameters.pm_DatabaseName",
											"type": "Expression"
										},
										"pm_SchemaName": {
											"value": "@pipeline().parameters.pm_SchemaName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_FileSystem": {
											"value": "bronze",
											"type": "Expression"
										},
										"pm_Directory": {
											"value": "igsql01/@{pipeline().parameters.pm_TableName}/pm_DatabaseName=@{pipeline().parameters.pm_DatabaseName}/",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "UpdateWatermark_FullLoad",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Full Load CRM IG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[sp_igsql01_crm_tables_watermark_upsert]",
								"storedProcedureParameters": {
									"table_name": {
										"value": {
											"value": "@pipeline().parameters.pm_TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"watermark": {
										"value": {
											"value": "@variables('Watermark_value')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"database_name": {
										"value": {
											"value": "@pipeline().parameters.pm_DatabaseName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB_METADATA",
								"type": "LinkedServiceReference",
								"parameters": {
									"pm_Environment": {
										"value": "@pipeline().globalParameters.gpm_Environment",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get Watermark data",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Get Watermark Column",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT \nCOALESCE(MAX(\"@{pipeline().parameters.pm_WatermarkColumn}\"),'1900-01-01') AS WATERMARK_NEW FROM dbo.[@{pipeline().parameters.pm_TableName}]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLDB_CRM_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_TableName": {
											"value": "@pipeline().parameters.pm_TableName",
											"type": "Expression"
										},
										"pm_SchemaName": {
											"value": "@pipeline().parameters.pm_SchemaName",
											"type": "Expression"
										},
										"pm_DatabaseName": {
											"value": "@pipeline().parameters.pm_DatabaseName",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Get Watermark Column",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT \nCOLUMN_NAME as [COLUMN NAME]\n\n  FROM [adf].[CT_IGSQL01_COLUMNS] WHERE DATABASE_NAME='@{pipeline().parameters.pm_DatabaseName}' AND TABLE_NAME='@{pipeline().parameters.pm_TableName}' AND WATERMARK_COLUMN=1",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
									"type": "DatasetReference",
									"parameters": {
										"pm_SchemaName": {
											"value": "adf",
											"type": "Expression"
										},
										"pm_TableName": "CT_IGSQL01_COLUMNS",
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Watermarkvalue",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Watermark data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Watermark_value",
								"value": {
									"value": "@activity('Get Watermark data').output.firstRow.WATERMARK_NEW",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "For Each Column",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Column Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Column Names').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ColumnString",
								"value": {
									"value": "[@{item().COLUMN_NAME}] as [@{replace(replace(replace(replace(replace(replace(replace(item().COLUMN_NAME,' ',''),'(',''),')',''),',',''),';',''),'{',''),'}','')}]",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Column Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [COLUMN_NAME]\n      FROM [adf].[CT_IGSQL01_COLUMNS]\nWHERE [TABLE_NAME] = '@{pipeline().parameters.pm_TableName}' and [DATABASE_NAME] ='@{pipeline().parameters.pm_DatabaseName}'\nAND [ACTIVE] =1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": {
								"value": "@pipeline().parameters.pm_SchemaName",
								"type": "Expression"
							},
							"pm_TableName": {
								"value": "@pipeline().parameters.pm_TableName",
								"type": "Expression"
							},
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"pm_DatabaseName": {
				"type": "string"
			},
			"pm_FullLoad": {
				"type": "bool"
			},
			"pm_TableName": {
				"type": "string"
			},
			"pm_SchemaName": {
				"type": "string"
			},
			"pm_Watermark": {
				"type": "string"
			},
			"pm_ColumnName": {
				"type": "string"
			},
			"pm_WatermarkColumn": {
				"type": "string"
			}
		},
		"variables": {
			"Watermark": {
				"type": "String"
			},
			"ColumnString": {
				"type": "Array"
			},
			"ColumnName": {
				"type": "String"
			},
			"OpenBracket": {
				"type": "String"
			},
			"ClosedBracket": {
				"type": "String"
			},
			"Watermark_value": {
				"type": "String"
			},
			"Watermark_Value_Delta": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Bronze/IGSQL01 [CRM]"
		},
		"annotations": []
	}
}