factory/pipeline/PL_99_NUAZ-SQLSERVER-01_Load_Table_ITERATOR.json
{
	"name": "PL_99_NUAZ-SQLSERVER-01_Load_Table_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get EDW Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get EDW Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "PL_30_NUAZ-SQLSERVER-01_Load_Table",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_30_NUAZ-SQLSERVER-01_Load_Table",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_DatabaseName": {
										"value": "@pipeline().parameters.pm_DatabaseName",
										"type": "Expression"
									},
									"pm_TableName": {
										"value": "@item().Table_Name",
										"type": "Expression"
									},
									"pm_FullLoad": {
										"value": "@pipeline().parameters.pm_FullLoad",
										"type": "Expression"
									},
									"pm_SchemaName": {
										"value": "@item().Schema_Name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get EDW Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT  \ndistinct   \n[TABLE_CATALOG]  DATABASE_NAME\n      ,[TABLE_SCHEMA] Schema_Name\n      ,[TABLE_NAME] Table_Name\n      , NULL WATERMARK\nFROM [adf].[CT_NUAZ-SQLSERVER-01_SCHEMA]\nwhere COLUMN_NAME like '%group%'\nand COLUMN_NAME like '%vendor%'\nand [TABLE_CATALOG] = '@{pipeline().parameters.pm_DatabaseName}' \n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_NUAZ-SQLSERVER-01_TABLES",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"pm_DatabaseName": {
				"type": "string",
				"defaultValue": "NUAV_PRODTRANS_SQLBYOD"
			},
			"pm_FullLoad": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "10 Bronze/NUVIAS/[DEPRECATED] NUAZ-SQLSERVER-01 [FO]"
		},
		"annotations": []
	}
}