factory/pipeline/PL_99_TRIGGER_JOB.json
{
	"name": "PL_99_TRIGGER_JOB",
	"properties": {
		"activities": [
			{
				"name": "Execute Jobs API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@{pipeline().globalParameters.gpm_Databrick_Workspace_URL}/api/2.0/jobs/run-now",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "ir-ig-managed-dev-westeurope",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n  \"job_id\": @{pipeline().parameters.pm_JobID}\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
					}
				}
			},
			{
				"name": "Wait Until Job is done",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Execute Jobs API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('v_JobStatus'),'Running'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Job Run API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@{pipeline().globalParameters.gpm_Databrick_Workspace_URL}/api/2.0/jobs/runs/get?run_id=@{activity('Execute Jobs API').output.run_id}",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "ir-ig-managed-dev-westeurope",
									"type": "IntegrationRuntimeReference"
								},
								"authentication": {
									"type": "MSI",
									"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
								}
							}
						},
						{
							"name": "Set Job Status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check Job Run API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_JobStatus",
								"value": {
									"value": "@if(\nor(\nequals(activity('Check Job Run API').output.state.life_cycle_state, 'PENDING'), equals(activity('Check Job Run API').output.state.life_cycle_state, 'RUNNING')\n),\n'Running',\nactivity('Check Job Run API').output.state.result_state\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait to Recheck API",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set Job Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.pm_WaitSeconds",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "CheckStatus",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Wait Until Job is done",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('v_JobStatus')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "SUCCESS_WITH_FAILURES",
							"activities": [
								{
									"name": "SUCCESS_WITH_FAILURES",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "SUCCESS_WITH_FAILURES",
										"errorCode": "600"
									}
								}
							]
						},
						{
							"value": "FAILED",
							"activities": [
								{
									"name": "FAILED",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "FAILED",
										"errorCode": "700"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pm_JobID": {
				"type": "string"
			},
			"pm_WaitSeconds": {
				"type": "int",
				"defaultValue": 60
			}
		},
		"variables": {
			"v_JobStatus": {
				"type": "String",
				"defaultValue": "Running"
			}
		},
		"folder": {
			"name": "00 Setup/Databricks"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-30T08:29:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}