factory/pipeline/PL_999_IGSQL03_RL_Test.json
{
	"name": "PL_999_IGSQL03_RL_Test",
	"properties": {
		"activities": [
			{
				"name": "Get DatabasesControl Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\n  FROM [adf].[CT_IGSQL03_DATABASES]\n  where Active = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_IGSQL03_DATABASES",
							"pm_Environment": "dev"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get DatabasesControl Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get DatabasesControl Table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Source Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM dbo.[@{item().TABLE_NAME}] WHERE cast([timestamp] as bigint) > 0",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "RL_NAV_TEST",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "RL_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": "dev",
										"pm_FileName": "@item().TABLE_NAME",
										"pm_FileLocation": "@item().TABLE_NAME",
										"pm_SourceFolderName": "test"
									}
								}
							]
						},
						{
							"name": "Clean Source Data",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Copy Source Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "RL_DF_TEST",
									"type": "DataFlowReference",
									"parameters": {
										"filename": {
											"value": "'@{concat(item().TABLE_NAME, '.parquet')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"LoadCSV": {
											"pm_Environment": "dev",
											"pm_FileName": "@item().TABLE_NAME",
											"pm_FileLocation": "@item().TABLE_NAME",
											"pm_SourceFolderName": "test"
										},
										"SaveParquet": {
											"pm_Environment": "dev",
											"pm_FileSystem": {
												"value": "@{replace(item().TABLE_NAME,' ','_')}",
												"type": "Expression"
											},
											"pm_Directory": "test"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "10 Bronze/IGSQL03 [Navision]"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-19T10:31:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}