factory/pipeline/PL_999_IGSQL03_RL_Test_ITERATOR.json
{
	"name": "PL_999_IGSQL03_RL_Test_ITERATOR",
	"properties": {
		"activities": [
			{
				"name": "For Each Database",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get DatabasesControl Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get DatabasesControl Table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "PL_999",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_999_IGSQL03_RL_Test",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pm_DatabaseName": "@item().DATABASE_NAME",
									"pm_FullLoad": "@pipeline().parameters.pm_FullLoad"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get DatabasesControl Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\n  FROM [adf].[CT_IGSQL03_DATABASES]\n  where Active = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_METADATA_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_SchemaName": "adf",
							"pm_TableName": "CT_IGSQL03_DATABASES",
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"pm_FullLoad": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "10 Bronze/IGSQL03 [Navision]"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-16T10:41:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}