factory/pipeline/TAG_SaaS_LoadTable.json
{
	"name": "TAG_SaaS_LoadTable",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load Tagetik Dimension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('PeriodArry')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 8,
					"activities": [
						{
							"name": "Load Tagetik View",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ODataSource",
									"additionalColumns": [
										{
											"name": "Sys_Bronze_InsertDateTime_UTC",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:05:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings",
										"maxRowsPerFile": 1000000,
										"fileNamePrefix": {
											"value": "bronze-tag02-dati_saldi_lordi-@{pipeline().parameters.Scenario}-@{item()}-@{utcNow()}",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "OID_DATI_SALDI_LORDI",
												"type": "String"
											},
											"sink": {
												"name": "OID_DATI_SALDI_LORDI",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_SCENARIO",
												"type": "String"
											},
											"sink": {
												"name": "COD_SCENARIO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_PERIODO",
												"type": "String"
											},
											"sink": {
												"name": "COD_PERIODO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_AZIENDA",
												"type": "String"
											},
											"sink": {
												"name": "COD_AZIENDA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_CONTO",
												"type": "String"
											},
											"sink": {
												"name": "COD_CONTO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_DEST1",
												"type": "String"
											},
											"sink": {
												"name": "COD_DEST1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_DEST2",
												"type": "String"
											},
											"sink": {
												"name": "COD_DEST2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_DEST3",
												"type": "String"
											},
											"sink": {
												"name": "COD_DEST3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_DEST4",
												"type": "String"
											},
											"sink": {
												"name": "COD_DEST4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_DEST5",
												"type": "String"
											},
											"sink": {
												"name": "COD_DEST5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_CATEGORIA",
												"type": "String"
											},
											"sink": {
												"name": "COD_CATEGORIA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IMPORTO",
												"type": "Double"
											},
											"sink": {
												"name": "IMPORTO",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "COD_VALUTA",
												"type": "String"
											},
											"sink": {
												"name": "COD_VALUTA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IMPORTO_VALUTA_ORIGINARIA",
												"type": "Double"
											},
											"sink": {
												"name": "IMPORTO_VALUTA_ORIGINARIA",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "COD_VALUTA_ORIGINARIA",
												"type": "String"
											},
											"sink": {
												"name": "COD_VALUTA_ORIGINARIA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "USER_UPD",
												"type": "String"
											},
											"sink": {
												"name": "USERUPD"
											}
										},
										{
											"source": {
												"name": "DATE_UPD",
												"type": "DateTimeOffset"
											},
											"sink": {
												"name": "DATEUPD"
											}
										},
										{
											"source": {
												"name": "NOTE",
												"type": "String"
											},
											"sink": {
												"name": "NOTE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORIGIN",
												"type": "String"
											},
											"sink": {
												"name": "PROVENIENZA "
											}
										},
										{
											"source": {
												"name": "Sys_Bronze_InsertDateTime_UTC",
												"type": "String"
											},
											"sink": {
												"name": "Sys_Bronze_InsertDateTime_UTC",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DS_TAGETIK_SAAS",
									"type": "DatasetReference",
									"parameters": {
										"pm_period": {
											"value": "@item()",
											"type": "Expression"
										},
										"pm_scenario": {
											"value": "@pipeline().parameters.Scenario",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_FileSystem": "bronze",
										"pm_Directory": {
											"value": "tag02/DATI_SALDI_LORDI",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Extract all current Keys",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"additionalColumns": [
							{
								"name": "Sys_DataFactory_LoadDateTime_UTC",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "DS_TAGETIK_SAAS_KEY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_PARQUET_STATIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_Environment": {
								"value": "@{pipeline().globalParameters.gpm_Environment}",
								"type": "Expression"
							},
							"pm_FileSystem": "keys",
							"pm_Directory": {
								"value": "tag02/dati_saldi_lordi",
								"type": "Expression"
							},
							"pm_FileName": {
								"value": "dati_saldi_lordi",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Load Tagetik Dimension",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Extract all current Keys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"additionalColumns": [
							{
								"name": "Sys_Bronze_InsertDateTime_UTC",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings",
							"maxRowsPerFile": 1000000,
							"fileNamePrefix": {
								"value": "bronze-tag02-dati_cambio-@{utcNow()}",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false,
					"validateDataConsistency": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COD_SCENARIO",
									"type": "String"
								},
								"sink": {
									"name": "COD_SCENARIO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COD_PERIODO",
									"type": "String"
								},
								"sink": {
									"name": "COD_PERIODO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COD_VALUTA",
									"type": "String"
								},
								"sink": {
									"name": "COD_VALUTA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CAMBIO_MEDIO",
									"type": "Double"
								},
								"sink": {
									"name": "CAMBIO_MEDIO",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "CAMBIO_PERIODO",
									"type": "Double"
								},
								"sink": {
									"name": "CAMBIO_PERIODO",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "CAMBIO_FINALE",
									"type": "Double"
								},
								"sink": {
									"name": "CAMBIO_FINALE",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "ORIGIN",
									"type": "String"
								},
								"sink": {
									"name": "PROVENIENZA "
								}
							},
							{
								"source": {
									"name": "USER_UPD",
									"type": "String"
								},
								"sink": {
									"name": "USERUPD"
								}
							},
							{
								"source": {
									"name": "DATE_UPD",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "DATEUPD"
								}
							},
							{
								"source": {
									"name": "Sys_Bronze_InsertDateTime_UTC",
									"type": "String"
								},
								"sink": {
									"name": "Sys_Bronze_InsertDateTime_UTC",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_TAGETIK_SAAS_DIM",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_PARQUET",
						"type": "DatasetReference",
						"parameters": {
							"pm_Environment": {
								"value": "@pipeline().globalParameters.gpm_Environment",
								"type": "Expression"
							},
							"pm_FileSystem": "bronze",
							"pm_Directory": {
								"value": "tag02/DATI_CAMBIO",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"Scenario": {
				"type": "string",
				"defaultValue": "2025ACT-PFA-01"
			}
		},
		"variables": {
			"PeriodArry": {
				"type": "Array",
				"defaultValue": [
					"08"
				]
			}
		},
		"folder": {
			"name": "10 Bronze/TAG02 [TAGETIK]/SaaS_Test"
		},
		"annotations": []
	}
}