factory/pipeline/TEST LOAD TAG FACT.json
{
	"name": "TEST LOAD TAG FACT",
	"properties": {
		"activities": [
			{
				"name": "For Each Scenario",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List Scenarios",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List Scenarios').output",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 8,
					"activities": [
						{
							"name": "Load Tagetik View",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ODataSource",
									"additionalColumns": [
										{
											"name": "Sys_Bronze_InsertDateTime_UTC",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:05:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings",
										"maxRowsPerFile": 1000000,
										"fileNamePrefix": {
											"value": "bronze-tag02_saas-@{pipeline().parameters.pm_Table}-@{item()}-@{utcNow()}",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true
							},
							"inputs": [
								{
									"referenceName": "DS_TAGETIK_SAAS",
									"type": "DatasetReference",
									"parameters": {
										"pm_scenario": {
											"value": "@item()",
											"type": "Expression"
										},
										"pm_Code": {
											"value": "@pipeline().parameters.pm_Code",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"pm_Environment": {
											"value": "@pipeline().globalParameters.gpm_Environment",
											"type": "Expression"
										},
										"pm_FileSystem": "bronze",
										"pm_Directory": {
											"value": "tag02_saas/@{pipeline().parameters.pm_Table}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "List Scenarios",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"httpRequestTimeout": "00:05:00"
					},
					"dataset": {
						"referenceName": "DS_DSL_SC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Extract all current Keys",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "For Each Scenario",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"additionalColumns": [
							{
								"name": "Sys_DataFactory_LoadDateTime_UTC",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "DS_TAGETIK_SAAS_KEY",
						"type": "DatasetReference",
						"parameters": {
							"pm_Code": {
								"value": "@pipeline().parameters.pm_Code",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_PARQUET_STATIC",
						"type": "DatasetReference",
						"parameters": {
							"pm_Environment": {
								"value": "@{pipeline().globalParameters.gpm_Environment}",
								"type": "Expression"
							},
							"pm_FileSystem": "keys",
							"pm_Directory": {
								"value": "tag02_saas/@{toLower(pipeline().parameters.pm_Table)}",
								"type": "Expression"
							},
							"pm_FileName": {
								"value": "@{pipeline().parameters.pm_Table}",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"pm_Table": {
				"type": "string"
			},
			"pm_Code": {
				"type": "string"
			}
		},
		"variables": {
			"ScenarioArry": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "10 Bronze/TAG02 [TAGETIK]/SaaS_Test"
		},
		"annotations": []
	}
}